.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav {

  border: 2px solid red;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;

}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
}

th {
  background-color: #9a9c9e
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
